# ignore _xxxxx folder
**/_ideas
**/_shoots
# ignore exe related files
/build/*
/dist/*
main.exe
main.spec
/Versions/*
# venv
venv/
env/
.venv/
*.pyc
*/__pychache__/**
__pycache__/
*.egg-info
# vscode
/.vscode/*
# ignore caen related files
/CAENXMLParserLog.txt
# others
/.VSCodeCounter/**
/Sunset/**
pickle.dat
DAQ/**
Feedback/**
parameters.txt
internal_parameters.txt
config.json
write_test.tdms