# ignore _ideas folder
**/_ideas
# ignore tests-calculs folder
_tests-calculs/*
# ignore readme images folder
**/images-readme/*
# ignore exe related files
/build/*
/dist/*
main.exe
main.spec
/Versions/*
# pychache
*/__pychache__/**
__pycache__/
# vscode
/.vscode/*
# ignore caen related files
/CAENXMLParserLog.txt
# others
/.VSCodeCounter/**
/Sunset/**
pickle.dat
DAQ/**
Feedback/**
parameters.txt